/* CSS styling */

button {
    background-color: bisque;
    color:brown;
}

.overview {
    color: blue;
}

.subscribe {
    font-weight: bold;
}
    
.subscribe button {
    align-items: center;
    background-color: green;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 18px;
    display: block;        /* Make button a block-level element */
    margin: 0 auto;        /* Automatically adjust left and right margins to center the button */
}

li {
    margin-bottom: 10px;
}